@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    background-color: hsl(212, 45%, 89%);


}

.card{
    border-radius:11px;
    margin-left: 500px;
    margin-top: 100px;    
    text-align:center;
}

.card-content{
    background-color: hsl(0, 0%, 100%); 
    width: 255px;
    height: 400px;
    border-radius: 16px;
    padding: 10px;  
}


h3{
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin: 12px;        
}

p{
    color: hsl(220, 15%, 55%);    
    font-family: 'Outfit', sans-serif;
    font-size: 15px; 
    font-weight: 400;  
    margin: 2px;
        
}

img{
    
    width: 250px;
    height: 250px;    
    border-radius: 8px;     
}







